*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icons-span i,.timing-text,.contact span{
    color: rgb(119, 119, 119);
}
.navbar-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(234, 234, 234);
    height: 35px;
}
.timing{
    width: 30%;
}
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.email,.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timing span,.contact span{
    margin-left: 5px;
}
.contact i{
    color: red;
}

/* Navbar 2 start  */

.navbar-2{
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 70px;
 box-shadow:10px 0px 10px rgb(119, 119, 119);
}
.logo{
    width: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-icon i{
    color: red;
    font-size: 2.3rem;
}
.logo-text{
    text-align: center;

}
.logo-text-heading{
    font-size: 1.2rem;
    font-weight: 600;
    color: #111;
}
.logo-text-span{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(119, 119, 119);
}
.nav-tags ul{
    display: flex;
}
.nav-tags ul li{
    margin-left: 20px;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.1rem;
}
.btn button{
    background-color: red;
    color: white;
    padding: 9px 12px;
    font-size: 1rem;
    border: none;
margin-top: -9px;
}

#home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-text{
    margin-top: 50px;
    width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.primary-heading{
    font-size: 2.1rem;
    font-weight: 600;
    text-align: center;
}
.para{
    color: gray;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 15px;
    margin-bottom: 30px;
}
.home-card-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-card{
    display: block;
    width: 350px;
    margin-left: 25px;
}
.home-card img{
    width: 350px;
    height: 250px;
}
.home-card h1{
    font-size: 1.3rem;
    margin: 2px 0;
}
.home-card p{
    font-size: 1rem;
    color: gray;
    margin: 2px 0;
}
.home-card button{
    background-color: white;
    color: slategrey;
    border: none;
    font-size: 0.9rem;
    margin-top: 10px;
    font-weight: 400;
}

/* Member section  */

#member-section{
    margin: 100px 0;
    width: 100%;
    height: 40vh;
    background: url('pexels-thirdman-6193846.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-page{
    text-align: center;
    width: 800px;
}

.member-page h1{
    font-size: 1.2rem;
    color: red;
    font-weight: 600;
    text-transform: uppercase;
    /* margin-top: -85px; */
}
.member-page p{
    font-size: 2.1rem;
    color: white;
    font-weight: 600;
    margin: 25px 0;
    letter-spacing: 1px;
}
.member-page button{
    background-color: white;
    color: red;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 40px;
}
